//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css



= require rails-ujs

<%= link_to "Update", case_path(c), method: :put %> 



<button><%= link_to "Disapprove", case_path(c), method: :delete, data: { confirm: "You Sure?"}%></button> 


<div class = "row">
    <div class="col-6">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
    </div>
    <div class="col-6">
            <!-- <%= image_tag "user.png" %> -->
    </div>    
</div>



<div class="well">
    <h3>Organizations:</h3>
    <% if Organization.all.count == 0 %>
        <p>No Organizations Available.</p>
    <% else %>
        <% @orgs.each.with_index do |o,i| %>
            <h3><%= i+1 %>- <%= link_to o.title, organization_path(o) %></h3>
        <% end %>
    <% end %>
</div>







<label>Password:</label>
<%= f.password_field  :password%>
<br>
<label>Confirm Password:</label>
<%= text_field_tag  'user[confirm_password]'%>
<br>




<div>
    <%= form_for @comment, remote: true do |f| %>
      <%= f.hidden_field :case_id, value: case_id %>
      <div class = "row" style = "background: #96989b; border-radius:5px;padding: 5px" >
        <div class = "col-sm-1" style="margin-right: 1vw;">
          <%= image_tag(user_profile(current_user) , style: "width:3vw; border-radius:50px")%>
        </div>
        <div class = "col-sm-9">
          <%= f.text_field :body, id: "comment_body", style:"width:-webkit-fill-available; border:none; height: 3vw"%>
        </div>
        <div class = "col-sm-1" style = "margin-top:0.5vw">
          <%= f.submit "Comment"%>
        </div>
      </div>
      <br>
    <% end %>
  </div>
   <%# placeholder: "#{current_user.email}:", %>



   <% if comment.user.id == current_user.id %>
    <%= link_to " ", comment_path(comment), method: :delete, data:{confirm: "Are you sure!"} , style: "float:right", class:"glyphicon glyphicon-trash"%>
<% end %>




<h1 class = "text-center text-primary"><%= @org.title.capitalize %></h1>
<div class="well titles">


  <div class = "row">
    <div class = "col-sm-4">
      <p>Admin Email: </p>
      <p>Total Cases: </p>
      <p>Pending Cases: </p>
      <p>Verified Cases: </p>
      <p>Closed Cases: </p>
      <p>Total Users: </p>
    </div>
    <div class = "col-sm-8">
      <%= @admin.email%><br>
      <%= @org.cases.count %><br>
      <%= @org.cases.where({status: "proposed"}).count %><br>
      <%= @org.cases.where(status: "verified").count %><br>
      <%= @org.cases.where(status: "closed").count %><br>
      <%= @org.users.count %><br>
    </div>
  </div>
  <br/>
  <br/>
  <%= link_to "Edit", edit_organization_path(@org), class:"btn btn-success" %>
  <%= link_to "Delete", organization_path(@org), method: :delete, data: { confirm: "You Sure?"}, class: "btn btn-danger" %>

  
</div>
<%= render 'cases/table'%>