<div class = "well">
    <p>Admin,</p>
    <p><%= @proposer.email%> has proposed a case under this organization at <%= @case.created_at%>.</p>
    <p>Title of Case: <%= @case.title %></p>
    <p>Review the case for furthur actions.</p>
</div>