<div class = "well">
    <h2>Comment Notification</h2>
    <p><%= @commenter.email %> has commented on your proposed case with the title of "<%= @case.title%>".</p>
    <p>Review it for furthur actions.</p>
</div>