<div class = "well">
    <h2>Verification Comment Notification</h2>
    <span><%= @verifier.email%> has commented on a verification against a case under your consideration
            with a title of <%= @case.title%>
    </span>
    <p>Review it for furthur actions.</p>
    <p>Link to Verification: <%= @url%></p>
    
</div>