<div class = "well">
    <h2>Verification Notification</h2>
    <span><%= @verifier.email%> has submitted a verification against a case under your consideration
            with a title of <%= @case.title%>
    </span>
    <p>Review it for furthur actions.</p>
</div>