<h3 class = "text-center text-primary">Comments</h3>
<div id="verificationCommentBox" class="well commentBox">
  <% @comments.each do |comment|%>
    <%= render 'comments/comment' , comment:comment%>
  <% end %>
</div>
