<h3 style="text-align: center">Chat Box</h3>
<div id="commentBox" class="well" style="height:250px ; border: solid 1px #000000; overflow-y: scroll">
  <% @comments.each do |comment|%>
    <%= render 'comments/comment' , comment:comment%>
  <% end %>
  
</div>
