<h2 class = "text-center text-primary">Welcome to <%= @org.title.capitalize%>!</h2>
<% if !is_user %>
<div class = "text-center">
  <%= link_to "Add Case", new_case_path ,class: "btn btn-default"%>
</div>
<br>
<% end %>
<br>
<%= render 'table'%>