<% if @user.id == current_user.id%>
<div style="text-align:center">
  <button><%= link_to "Edit Profile", edit_user_path(@user)%></button>
</div>
<% end %>
<h3>Username: <%= @user.username%></h3>
<h3>Email : <%= @user.email%></h3>
<%= image_tag(user_profile(@user) , style: "width:20vw")%>


