.timeLine{
    font-size: 0.7em;
}
.commentBox{
    background: #ffc96d !important;
}
.newCommentBody{
    border-radius: 5px;
    width: 80vw;
    height: 3vw
}

.reply{
    background: #f9b05c;
    margin-left: 8vw;
    border-radius: 2%;
    padding: 1vw;
}