<div class="well">
  <%= simple_form_for @org do |f| %>
    <%= f.input :title, label: "Title:"%>
    <br>
    <label>Admin Email:</label>
    <%= text_field_tag 'organization[email]' %>
    <br>
    <%= f.submit "Save", class: "btn btn-default" %>
  <% end %>
</div>
