%h1 Company Details
.well
  %h3 Company Title 
  = @org.title
  %h3 Company Admin:
  = @admin.email 
  %br/
  %br/
  = link_to "Edit", edit_organization_path(@org)
  = link_to "Delete", organization_path(@org), method: :delete, data: { confirm: "You Sure?"}